* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headerback {
    background-color: hsl(222.77deg 81.59% 53.14%);
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    align-items: center;
}

.list1 {
    display: flex;
    color: hsl(0deg 0% 100%);
    justify-content: center;
    list-style: none;
    justify-content: space-between;
}

.sublist1 {
    margin: 0px 30px;
}

a {
    text-decoration: none;
    color: hsl(0deg 0% 100%);
}

.Login {
    color: black;
    background-color: hsl(0deg 0% 100%);
    padding: 8px;
    border-radius: 30px;
}

.hero {
    background-image: url(../img-2/jumbo.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    line-height: 40px;
    padding: 190px;
    align-items: center;
}

.title1 {
    color: hsl(0deg 0% 100%);
    font-size: 50px;
}

.par1 {
    font-size: 20px;
    color: hsl(0deg 0% 100%);
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
}

.download {
    color: black;
    background-color: hsl(0deg 0% 100%);
    padding: 20px 8px;
    border-radius: 30px;
    margin-right: 20px;
}

.browser {
    color: hsl(0deg 0% 100%);
    background-color: black;
    padding: 20px 8px;
    border-radius: 30px;
    margin-left: 20px;
}

.title2 {
    font-size: 50px;
}

.par2 {
    font-size: 20px;
    line-height: 40px;
}

.container1 {
    display: flex;
    padding: 150px 300px;
    justify-content: center;
    align-items: center;
}

.container2 {
    display: flex;
    padding: 150px 300px;
    justify-content: center;
    background-color: hsl(0deg 0% 96.47%);
    align-items: center;
}

.container3 {
    display: flex;
    padding: 150px 300px;
    justify-content: center;
    align-items: center;
}

.container4 {
    background-color: hsl(0deg 0% 96.47%);
    padding: 150px;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.par3 {
    height: 50px;
    line-height: 150px;
    color: black;
    font-size: 35px;
}

.download2 {
    color: hsl(0deg 0% 100%);
    background-color: hsl(227.18deg 58.19% 65.29%);
    padding: 20px;
    border-radius: 30px;
    margin: 0px 600px;
}

.mainfooter {
    display: flex;
    background-color: hsl(205.71deg 9.09% 15.1%);
    justify-content: center;
    justify-content: space-between;
    padding: 100px 200px;
    color: hsl(0deg 0% 100%);
    line-height: 40px;
}

.ftlist {
    color: white;
    font-size: 20px;
    list-style: none;
}

.fttitles {
    color: hsl(227.18deg 58.19% 65.29%);
}

.fttitle {
    color: hsl(227.18deg 58.19% 65.29%);
    font-size: 30px;
    padding-bottom: 10px;
}

.twitter {
    width: 20px;
    height: 20px;
}

.instagram {
    width: 20px;
    height: 20px;
}

.facebook {
    width: 20px;
    height: 20px;
}

.youtube {
    width: 20px;
    height: 20px;
}

.italyflag{
    width: 30px;
}

.ftcontainer {
    display:flex;
    background-color: hsl(205.71deg 9.09% 15.1%);
    border-top: 1px solid hsl(227.18deg 58.19% 65.29%);
    justify-content: space-between;
    margin: 0px 100px;
    padding: 20px 100px 60px 100px;
}

.register {
    color: white;
    background-color: hsl(227.18deg 58.19% 65.29%);
    padding: 8px;
    border-radius: 30px;
}

.ftbackground {
    background-color: hsl(205.71deg 9.09% 15.1%);
}

.stars {
    margin-bottom: -100px;
    width: 50%;
}